

<!-- Carrousel com Captions-->
<div class="container-fluid bg-info  pt-2 pb-2">
    <p>portfolio works!</p>
    <div id="carouselExampleAutoplaying" class="carousel slide container col-xs-12 col-sm-12 col-md-8 col-lg-8" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.wallpaperscraft.com/image/single/road_street_buildings_282593_1920x1080.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.wallpaperscraft.com/image/single/road_street_asphalt_145586_1920x1080.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.wallpaperscraft.com/image/single/road_street_buildings_156706_1920x1080.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Carrousel com Captions-->